<template name="addMuppet">
  <h1>Add a New Muppet</h1>
  <form>
    <div class="form-group">
      <label for="name" class="control-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" value="">
    </div>
    <div class="form-group">
      <label for="animalType" class="control-label">Animal Type</label>
      <input type="text" class="form-control" id="animalType" name="animalType" value="">
    </div>
    <div class="form-group">
      <label for="imgPath" class="control-label">Image Path</label>
      <input type="text" class="form-control" id="imgPath" name="imgPath" value="">
    </div>
    <button type="submit" class="btn btn-primary">Add the Muppet</button>
  </form>
</template>
