<template name="filmItem">
  <div class="films">
    <div>
      <h4><a href="{{pathFor "filmPage"}}">{{title}} ({{year}})</a></h4>
      <h5 class="date">{{director}}</h5>
      <p>{{plot}}</p>
    </div>
    <div>
      <span class="author">submitted by {{author}}</span><span class="date"> on {{submittedText}}</span>
      <a class="comments-count" href="{{pathFor 'filmPage'}}">{{commentsCount}} comments</a>
    </div>
    <a href="{{pathFor "filmPage"}}" class="btn btn-default">Discuss</a>
    {{#if ownsFilm}}
      <a href="{{pathFor "filmEdit"}}" class="btn btn-primary">Edit</a>
    {{/if}}
  </div>
  <hr>
</template>
