<template name="filmSubmit">
  <form class="form add-film-form">
    <h4>Add film</h4>
    <div class="form-group {{errorClass 'title'}}">
      <input class="form-control" placeholder="title" name="title" type="text">
      <span class="help-block">{{errorMessage 'title'}}</span>
    </div>
    <div class="form-group {{errorClass 'year'}}">
      <input class="form-control" placeholder="year" name="year" type="text">
      <span class="help-block">{{errorMessage 'year'}}</span>
    </div>
    <div class="form-group {{errorClass 'director'}}">
      <input class="form-control" placeholder="director" name="director" type="text">
      <span class="help-block">{{errorMessage 'director'}}</span>
    </div>
    <div class="form-group {{errorClass 'plot'}}">
      <input class="form-control" name="plot" placeholder="plot" type="text">
      <span class="help-block">{{errorMessage 'plot'}}</span>
    </div>
    <input type="submit" value="Submit" class="btn btn-default">
  </form>
</template>
