<template name="filmSubmit">
  <form>
    <h4>Add film</h4>
    <div class="form-group">
      <label for="title">title</label>
      <input class="form-control" name="title" type="text">
    </div>
    <div class="form-group">
      <label for="year">year</label>
      <input class="form-control" name="year" type="text">
    </div>
    <div class="form-group">
      <label for="director">director</label>
      <input class="form-control" name="director" type="text">
    </div>
    <div class="form-group">
      <label for="plot">plot</label>
      <input class="form-control" name="plot" type="text">
    </div>
    <input type="submit" value="Submit" class="btn btn-default">
  </form>
</template>
